{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cambridge Institute Of Technology | Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'BaseApp/LoginForm/images/icons/favicon.ico' %}" />
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'BaseApp/LoginForm/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				{% block "Image" %}
				<div class="login100-pic js-tilt" data-tilt>
					<img src="{% static 'BaseApp/LoginForm/images/img-01.png' %}" alt="IMG">
				</div>
				{% endblock %}

				{% block "Form" %}
				<form class="login100-form validate-form" method="POST" action="{% url 'validate_login' %}">
					{% csrf_token %}
					<span class="login100-form-title">
						Cambridge Institute Of Technology
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="Username" placeholder="Username" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="Password" minlength=8 required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Contact Admin to change password
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Navigate To Home
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
				{% endblock %}
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="{% static 'BaseApp/LoginForm/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'BaseApp/LoginForm/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'BaseApp/LoginForm/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'BaseApp/LoginForm/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'BaseApp/LoginForm/vendor/tilt/tilt.jquery.min.js' %}"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'BaseApp/LoginForm/js/main.js' %}"></script>

</body>
</html>